In [1]:
import os
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'

In [7]:
import tensorflow as tf
from tensorflow.python import keras
from tensorflow.python.keras import preprocessing
from tensorflow.python.keras.preprocessing.text import Tokenizer
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense, Dropout, LSTM, Reshape

import numpy as np
import pandas

import numpy as np
import scipy.stats as stats
import matplotlib.pylab as plt

from keras.utils import np_utils

np.random.seed(10)

In [8]:
data = pandas.read_csv('/Users/shafique.khan@diconium.com/OneDrive - diconium GmbH/Learning/Github/generateColorsUsingAI/data/colors.csv')
data.head(10)

                name  red  green  blue
0           parakeet  174    182    87
1       saddle brown   88     52     1
2     cucumber crush  222    237   215
3          pool blue  134    194   201
4           distance   98    110   130
5        light urple  179    111   246
6          east side  172    145   206
7  florida seashells  250    228   199
8              paris  145    167   189
9       powder blush  247    215   215

In [9]:
len(data)

14157

In [19]:
names = data['name']

In [20]:
names

0               parakeet
1           saddle brown
2         cucumber crush
3              pool blue
4               distance
              ...
14152          fire mist
14153    spanish leather
14154           aquatone
14155       bottle green
14156     tandoori spice
Name: name, Length: 14157, dtype: object

In [22]:
h = sorted(names.str.len().to_numpy())
print(type(h))
fit = stats.norm.pdf(h, np.mean(h), np.std(h))  #this is a fitting indeed
plt.plot(h,fit,'-o')
plt.hist(h,normed=True)      #use this to draw histogram of your data
plt.xlabel('Chars')
plt.ylabel('Probability density')
plt.show()

AttributeError: 'list' object has no attribute 'to_numpy'